# Terraform init and state files
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/.terraform.tfstate.lock.info
/terraform/terraform.tfstate.backup
# vscode settings
/terraform/.vscode/
/.vscode/
# local variables
/terraform/localvars.txt